@font-face {
    font-family: BergenMono;
    src: url(/assets/fonts/BergenMono-Regular.otf)
}

@font-face {
    font-family: BergenSans;
    src: url(/assets/fonts/BergenSans-Regular.otf)
}

@font-face {
    font-family: BergenText;
    src: url(/assets/fonts/BergenText-Regular.otf)
}

.col-centered {
    float: none;
    margin: 0 auto;
}

body {
    opacity: 0;
}

body.all-loaded {
    opacity: 1;
}

html.sr .load-hidden {
    visibility: hidden;
}

body,
html {
    background-color: black;
}

#bg {
    background-color: rgba(0, 0, 0, 0.8)
}

.navbar {
    background-color: transparent;
    border: none;
    color: white;
    transition: background-color 0.5s ease 0s;
    font-family: BergenMono;
}

.navbar.solid {
    background-color: black;
    transition: background-color 0.5s ease 0s;
}

.main-page {
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/img/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white
}

.main-page-cta {
    height: 95%;
}

.main-page-cta h1 {
    font-family: BergenSans;
}

.main-page-cta h5 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.9)
}

.main-page-cta h6 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.8)
}

.main-page-footer {
    height: 5%;
    font-family: BergenMono;
    color: rgba(255, 255, 255, 0.5)
}

.glasses-page-hero {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/img/glasses-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.glasses-page-hero-cta {
    height: 80%;
}

.glasses-page-hero-cta h1 {
    font-family: BergenSans;
}

.glasses-page-hero-cta h2 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.9)
}

.glasses-page-hero-cta h6 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.8)
}

.glasses-page-hero-button-section {
    height: 10%;
}

.glasses-page-hero-bottom {
    height: 10%;
}

.down-arrow-bounce {
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

#down-arrow:hover {
    fill: white;
}

.glasses-page-how-section{
    height: 50vh;
    width: 100vw;
    color: white;
}

.glasses-page-how-section h3{
    font-family: BergenSans;
}

.glasses-page-how-section h5 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.9)
}

.glasses-page-how-info-section{
    height: 100%;
}

.glasses-page-design-section {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/img/glasses-battery.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.glasses-page-design-title-section {
    height: 100%;
}

.glasses-page-design-title-section h3 {
    font-family: BergenSans;
}

.glasses-page-design-title-section h4 {
    font-family: BergenSans;
}

.glasses-page-design-title-section h5 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.9)
}

.glasses-page-design-title-section h6 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.8)
}

.glasses-page-function-section {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/img/glasses-function.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.glasses-page-function-title-section {
    height: 100%;
}

.glasses-page-function-title-section h3 {
    font-family: BergenSans;
}

.glasses-page-function-title-section h4 {
    font-family: BergenSans;
}

.glasses-page-function-title-section h5 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.9)
}

.glasses-page-function-title-section h6 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.8)
}

.glasses-page-use-section {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/img/glasses.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.glasses-page-use-title-section {
    height: 95%;
}

.glasses-page-use-title-section h3 {
    font-family: BergenSans;
}

.glasses-page-use-title-section h4 {
    font-family: BergenSans;
}

.glasses-page-use-title-section h5 {
    font-family: BergenText;
    color: rgba(255, 255, 255, 0.9)
}

.glasses-page-use-title-section h6 {
    font-family: BergenText;
    color: rgba(211, 211, 211, 0.9)
}

.glasses-page-footer {
    height: 5%;
    font-family: BergenMono;
    color: rgba(255, 255, 255, 0.5)
}

.team-page {
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/img/team.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.team-page-cta {
    height: 95%;
}

.team-page h1{
    font-family: BergenSans;
}

.team-page h5{
    font-family: BergenSans;
    color: black;
}

.team-page p{
    font-family: BergenText;
    color: black;
}

.team-page-footer {
    height: 5%;
    font-family: BergenMono;
    color: rgba(255, 255, 255, 0.5)
}

.main-page-bottom-text {
    font-size: 1vw;
}

.glasses-page-bottom-text {
    font-size: 1vw;
}

.team-page-bottom-text {
    font-size: 1vw;
}

.modal-content {
    background-color: black;
}

.modal-title {
    font-family: BergenSans;
    color: white;
}

.col-form-label {
    font-family: BergenSans;
    color: white;
}

.text-muted {
    font-family: BergenText;
}

.button-font {
    font-family: BergenSans
}

.use-case-card-bg {
    background-color: rgba(0, 0, 0, 0.8)
}

.team-card-bg {
    background-color: rgba(255, 255, 255, 0.9)
}

.use-case-card-width {
    width: 50%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    .main-page-bottom-text {
        font-size: 3vw;
    }
    .glasses-page-bottom-text {
        font-size: 3vw;
    }
    .team-page-bottom-text {
        font-size: 3vw;
    }
    
    .card-size{
        width: 100%;
        height: 20vh;
    }

    .use-case-card-width {
        width: 100%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    /* Styles */
    .main-page-bottom-text {
        font-size: 1.5vw;
    }

    .glasses-page-bottom-text {
        font-size: 1.5vw;
    }
    .team-page-bottom-text {
        font-size: 1.5vw;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    /* Styles */

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    /* Styles */
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {

    /* Styles */
    .main-page-bottom-text {
        font-size: 1.5vw;
    }

    .glasses-page-bottom-text {
        font-size: 1.5vw;
    }
    
    .team-page-bottom-text {
        font-size: 1.5vw;
    }

}

/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    /* Styles */

}

/* Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    /* Styles */

}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

    /* Styles */
    .main-page-title-text {
        font-size: 10vw;
    }

    .glasses-page-title-text {
        font-size: 10vw;
    }

}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {}

/* Styles */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

    /* Styles */
    .main-page-desc-text {
        font-size: 4.8vw;
    }

    .glasses-page-desc-text {
        font-size: 4.8vw;
    }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

    /* Styles */
    .main-page-desc-text {
        font-size: 4.8vw;
    }

    .glasses-page-desc-text {
        font-size: 4.8vw;
    }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

    /* Styles */
    .main-page-desc-text {
        font-size: 4.8vw;
    }

    .glasses-page-desc-text {
        font-size: 4.8vw;
    }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


.delay-1 {
    -webkit-animation-delay: .25s;
}

.delay-2 {
    -webkit-animation-delay: .5s;
}

.delay-3 {
    -webkit-animation-delay: .75s;
}

.delay-4 {
    -webkit-animation-delay: 1s;
}

.delay-5 {
    -webkit-animation-delay: 1.25s;
}

.delay-6 {
    -webkit-animation-delay: 1.5s;
}

.delay-7 {
    -webkit-animation-delay: 1.75s;
}

.delay-8 {
    -webkit-animation-delay: 2s;
}

.delay-9 {
    -webkit-animation-delay: 2.25s;
}

.delay-10 {
    -webkit-animation-delay: 2.5s;
}

/* Round Buttons */

.round {
    border-radius: 24px;
}
