@font-face{
    font-family: BergenMono;
    src:url(/assets/fonts/BergenMono-Regular.otf)
}

@font-face{
    font-family: BergenSans;
    src:url(/assets/fonts/BergenSans-Regular.otf)
}

@font-face{
    font-family: BergenText;
    src:url(/assets/fonts/BergenText-Regular.otf)
}

body, html {
  background-color: black;
}

.navbar{
    background-color: black;
    color: white;
    font-family: BergenMono;
}

.main {
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/svg/bg2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white
}

.cta{
    min-height: 95%;
    height: 95%;
    font-family: BergenSans;
}

.cta h5{
    font-family: BergenText;
    color: rgba(255,255,255,0.9)

}

.cta h6{
    font-family: BergenText;
    color: rgba(255,255,255,0.8)
}

.bottom {
    min-height: 5%;
    height: 5%;
    font-family: BergenMono;
    color: rgba(255,255,255,0.5)
}
