body {
  background-color: #FFF;
  font-family: 'Lato', sans-serif;
  color: #86bbd8;
  overflow: hidden;
}

html {
  height: 100%
}

body {
  background: -webkit-linear-gradient(bottom, rgba(134, 187, 216, 1, 0), rgba(255, 255, 255, 0));
  background: linear-gradient(0deg, rgba(134, 187, 216, 1), rgba(255, 255, 255, 0));
}

#level0 {
  opacity: 0.1;
}

#level1 {
  opacity: 0.2;
}

#level2 {
  opacity: 0.4;
}

#level3 {
  opacity: 0.6;
}

#level4 {
  opacity: 0.8;
}

#level5 {
  opacity: 1.0;
}

.no-border {
  border: 0;
  box-shadow: none;
  /* You may want to include this as bootstrap applies these styles too */
}

@media all and (max-width: 1200px) {
  /* screen size until 1200px */
  body {
    font-size: 1.5em;
    /* 1.5x default size */
  }
}

@media all and (max-width: 1000px) {
  /* screen size until 1000px */
  body {
    font-size: 1.2em;
    /* 1.2x default size */
  }
}

@media all and (max-width: 500px) {
  /* screen size until 500px */
  body {
    font-size: 0.8em;
    /* 0.8x default size */
  }
}
