body {
  background-color: #FFF;
  font-family: 'Lato', sans-serif;
  color: #86bbd8;
}

#level0 {
            opacity: 0.1;
}

#level1 {
            opacity: 0.2;
}

#level2 {
            opacity: 0.4;
}

#level3 {
            opacity: 0.6;
}

#level4 {
            opacity: 0.8;
}

#level5 {
            opacity: 1.0;
}

.centered-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
